bot.pid
scripts
KFCFactory.json
work
works
android_pad.json
android_phone.json
t544-enc-windows-x64.dll
conf/invite-recorde.hml
### Java template
# Compiled class file
pid
game-installer/space
conf/forbiddenWord
base/*
Libs/dates/History/*
Libs/records
Libs/customRandReply
Libs/dates/users/*
Libs/dates/mainfist/*
Libs/dates/games/dates/*
Libs/dates/games/skills/*
Libs/dates/games/tasks
Libs/dates/mainfist/groups/*
temp.cmd
records
conf/Landlord
Kt-native
cache1
temp
bots
plugin-starter
Test-Temp
conf/bots.conf.json
conf/conf.txt
cache
data
devices
works
logs
config
**/.git_
*.class
# Log file
*.log
# BlueJ files
*.ctxt
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
**/test
superQList.txt
target